@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url("https://fjcerdav.github.io/fonts/iosevka-term-bold.woff2") format('woff2');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url("https://fjcerdav.github.io/fonts/iosevka-term-medium.woff2") format('woff2');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url("https://fjcerdav.github.io/fonts/iosevka-term-regular.woff2") format('woff2');
}

@font-face {
    font-family: 'Montserrat';
    src: url("https://fjcerdav.github.io/fonts/Montserrat-SemiBoldItalic.woff2") format('woff2'),
        url("https://fjcerdav.github.io/fonts/Montserrat-SemiBoldItalic.woff") format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url("https://fjcerdav.github.io/fonts/Montserrat-Medium.woff2") format('woff2'),
        url("https://fjcerdav.github.io/fonts/Montserrat-Medium.woff") format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url("https://fjcerdav.github.io/fonts/Montserrat-Bold.woff2") format('woff2'),
        url("https://fjcerdav.github.io/fonts/Montserrat-Bold.woff") format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}



.navbar{height:46px;}

.btn-primary {margin: 10px 10px 10px 10px;}

pre {
    font-family: 'Iosevka Term Web', monospace;
    font-weight: normal;
    font-variant: normal;
    vertical-align: baseline;
    line-height: 105%;
    padding-left: 5px;
    overflow: hidden;
	font-size:1rem;
}

.portada {
	font-size: 3rem;
	text-align: center;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.seccion {
	text-align: center;
	font-size: 2rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.titulo {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem:
	margin-left: 5px;
}



h1 {
    font-family: 'Montserrat', sans-serif;
    font-variant: normal;
    font-size: 1.5rem;
    font-weight: 700;
    color: #1255CC;
    vertical-align: baseline;
    line-height: 100%;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-variant: normal;
    font-size: 1.2rem;
    font-weight: 700;
    color: #1255CC;
    vertical-align: baseline;
    line-height: 100%;
}

.texto {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-style: italic;
    font-weight: 600;
    line-height: 100%;
}

.subtitulo {
    font-size: 1.1rem;
    color:#2159D6;
}


span.c {
    color:#000055;
}

.transpose-keys {
	margin: 0.625rem 0;
	overflow: hidden;
	font-family: 'Montserrat', sans-serif;
	font-size: 0.6rem;
	font-weight:0,500;
}
.transpose-keys a { 
	display: block;
	float: left;
	width: 2.25rem;
	text-align: center;
	margin: 0 .25em .25em 0;
	color: #333;
	background: #eee;
	text-decoration: none;
	padding: .4em 0;
	border: solid 1px transparent;
	outline: none;
}
.transpose-keys a.selected { 
  background: #2159D6; 
  color: #FFF;
}

audio{
    max-height: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
    }
  
.video {
	position: static;
    	max-height: 100%;
    	max-width: 100%;
    	margin-left: auto;
    	margin-right: auto;
    	object-fit: contain;
	}



@media (max-width: 599px){
	html {font-size: 4vw;}
	}
@media (min-width: 600px){
	html {font-size: 18.0pt;}
	}

